---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="jp">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
        <Footer />
    </body>
    <script></script>
</html>
